@font-face {
    font-family:Bad;
    src: url(../fonts_login/BadScript-Regular.ttf);
    font-weight: 500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bad;
}
a{
    text-decoration: none;
}
.container{
    padding: 7%;
    border: 1px solid white;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}
.button_back{
    background:local;
    border: none;
    color: #fff;
    border-bottom: 1px solid white;
    cursor: pointer;
}
.form{
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(../img/fon_login.jpg) no-repeat center center / cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    :active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
    }
    ::placeholder {
        color: white;
        font-size: 1.3em;
      }
    
    &__title{
        font-size: 30px;
        font-weight: 900;
        color: #fff;
        display: flex;
        justify-content: center;
    }
    &__input{
        input{
            padding: 10px 40px 10px 40px;
            border: none;
            margin-bottom:20px;
            background-color: transparent;
            color: #fff;
            border-bottom: 1px solid #fff;  
        }
        img{
            margin-bottom: -20px;
        }
    }
    &__check{
        display: flex;
        margin-bottom: 20px;
        font-weight: 100;
        font-size: 15px;
        h2{
            font-size: 15px;
            color: #fff;
            margin-left: 5px;
        }
        h3{
            color: #fff;
            font-size: 15px;
            margin-left: 38px;
            border-bottom: 1px solid white;
            transition: ease-in-out 0.3s;
        }
        &__box{
            margin-bottom: 3px;
        }
        h3:hover{
            color: #FF8F0B;
            border-bottom: 1px solid #FF8F0B;
        }
    }
    &__button{
        display: flex;
        justify-content: center;
        &__login{
            padding: 15px 40px 10px 40px;
            border-radius: 10px;
            border: none;
            font-size: 20px;
            transition: ease-in-out 0.3s;
        }
        &__login:hover{
            background-color: #FF8F0B;
            color: #fff;

        }
    }
    &__register{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        margin-top: 10px;
        h2{
            color: #fff;
            font-size: 15px;
            transition: ease-in-out 0.3s;
            
        }
        &__link{
            border-bottom: 1px solid white;
            transition: ease-in-out 0.3s;
        }
        &__link:hover{
            border-bottom: 1px solid #FF8F0B;
            color: #FF8F0B;
            h2{
                color: #FF8F0B;
            }
        }
    }
}
